# pandas

# Series

In [1]:
import pandas as pd
import numpy as np

In [12]:
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array(my_list)

In [13]:
d={'a':10,'b':20,'c':30}

In [14]:
d

{'a': 10, 'b': 20, 'c': 30}

In [16]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(data=[sum,len])

0    <built-in function sum>
1    <built-in function len>
dtype: object

In [19]:
import pandas as pd
from numpy.random import randn, seed
seed(0)
df = pd.DataFrame(randn(5,4), "A B C D E".split(), "W X Y Z".split())
df

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
C -0.103219  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096